.idea
node_modules
package-lock.json
/config
public

server/.env
server/.db
server/coverage
server/node_modules
server/package-lock.json
server/pm2-prod.config.js
server/bin/publish-staging.sh
server/bin/fresh-staging-mongo.js
server/bin/mongodb/__mongo-dump.js

client/node_modules
client/package-lock.json
client/android/app/src/main/res/raw/
