.m-grid.f-point-category-list
  padding: 20px
  grid-template-columns: 40px 1fr 40px 40px
  border-top: 1px solid $color-border-weak
  grid-gap: 20px
  place-items: center

  &:nth-child(1)
    border-top: none
