.fade-enter-active, .fade-leave-active
  transition: opacity .3s

.fade-enter, .fade-leave-to
  opacity: 0


.long-fade-enter-active, .long-fade-leave-active
  transition: opacity .5s

.long-fade-enter, .long-fade-leave-to
  opacity: 0
